@import url("https://api.fontshare.com/v2/css?f[]=chillax@1&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=alpino@1&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=array@700&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=array@400&display=swap");

@tailwind base;
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .noise-bg {
    @apply bg-[rgb(250,250,250)] relative;
    background-image: radial-gradient(#cbd5e1 1px, transparent 1px);
    background-size: 20px 20px;
    transition: background-position 0.1s ease-out;
  }

  .font-chillax {
    font-family: "Chillax", sans-serif;
  }

  .font-alpino {
    font-family: "Alpino", sans-serif;
  }

  .font-array {
    font-family: "Array", sans-serif;
  }

  .font-array-400 {
    font-family: "Array", sans-serif;
  }

  .dotted-blur-bg {
    background-color: transparent;
    background-image: radial-gradient(
      rgba(0, 0, 0, 0) 1px,
      rgba(241, 245, 249, 0.97) 1px
    );
    background-size: 4px 4px;
    backdrop-filter: blur(3px);
    mask-image: linear-gradient(
      to bottom,
      rgb(0, 0, 0) 0%,
      rgb(0, 0, 0) 50%,
      rgba(0, 0, 0, 0.8) 65%,
      rgba(0, 0, 0, 0.5) 80%,
      rgba(0, 0, 0, 0.1) 90%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .dotted-blur-bg-dark {
    background-color: transparent;
    background-image: radial-gradient(
      rgba(255, 255, 255, 0) 1px,
      rgb(16, 18, 21) 1px
    );
    background-size: 4px 4px;
    backdrop-filter: blur(2px);
    mask-image: linear-gradient(
      to bottom,
      rgb(0, 0, 0) 0%,
      rgb(0, 0, 0) 50%,
      rgba(0, 0, 0, 0.8) 65%,
      rgba(0, 0, 0, 0.4) 75%,
      rgba(0, 0, 0, 0.2) 82%,
      rgba(0, 0, 0, 0.05) 88%,
      rgba(0, 0, 0, 0.01) 90%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  /* Hover effect with radial gradient */
  .bg-nav-pattern {
    background: radial-gradient(
      800px circle at var(--mouse-x, 50%) var(--mouse-y, 50%),
      rgba(255, 255, 255, 0.06),
      transparent 40%
    );
  }

  .group:hover .bg-nav-pattern {
    opacity: 1;
  }

  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
